
p {
    font-family: 'Montserrat', sans-serif;
}

.button > button{

    box-sizing: border-box;

    height: 30px;

    width:100px;

    margin: 0;

    padding: 5px;

    border:none;

    background-color: rgb(52, 125, 209);

    text-align: center;

    color: white;

    font-family: 'Montserrat', sans-serif;

    font-weight: 600;
    cursor: pointer;

    float: right;

    flex-grow: 1;

}

div.search-bar > input{

    box-sizing: border-box;

    height: 30px;

    width:400px;

    margin: 0;

    padding: 5px;

    border: 1px solid #e0e0e0;

    flex-grow: 4;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar img{
    width: 2%;
    height: 2%;
}

body{
    background-color: rgb(51, 128, 216);
    margin: 0;
}


.navbar{
    background-color: white;
}

.row {
    display: flex;
}

.column {
  flex: 33%;
  padding: 10px;
}

#middle{
    background-color: white;
    height: 100%;
}

.feed{
    background-color: white;
    width: 50%;
    height: 100%;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#image{
    position: absolute;
    width: 30px;
}

.post{
    -webkit-box-shadow: 0px 0px 26px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 26px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 26px -4px rgba(0,0,0,0.75);
}

.post .date{
    text-align: right;
    position: relative;
    top: 5px;
    right: 30px;
}


.post .post-image {
    margin-top: 20px;
}

.post button img{
    width: 30px;
    height: 30px;
}

