p {
    font-family: 'Montserrat', sans-serif;
}

.button > button{

    box-sizing: border-box;

    height: 30px;

    width:100px;

    margin: 0;

    padding: 5px;

    border:none;

    background-color: rgb(52, 125, 209);

    text-align: center;

    color: white;

    font-family: 'Montserrat', sans-serif;

    font-weight: 600;

    cursor: pointer;

    float: right;

    flex-grow: 1;

}

div.search-bar > input{

    box-sizing: border-box;

    height: 30px;

    width:400px;

    margin: 0;

    padding: 5px;

    border: 1px solid #e0e0e0;

    flex-grow: 4;
}

.search-bar{
    padding: 10px;
    display:flex;
    flex-direction: row;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar img{
    width: 50px;
    height: 50px;
    padding: 2px;

}

body{
    background-color: rgb(51, 128, 216);
    margin: 0;
}


.navbar{
    background-color: white;
}

.row {
    display: flex;
    flex-direction: column;
}

#middle{
    background-color: white;
    height: 100%;
}

.feed{
    background-color: white;
    width: 50%;
    height: 100%;
    margin:auto;
    min-width: 300px;
}

#image{
    position: absolute;
    width: 40px;
    padding: 5px;
}

.post{
    margin-top: 40px;
    -webkit-box-shadow: 0px 0px 26px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 26px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 26px -4px rgba(0,0,0,0.75);
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
}

.post .date{
    text-align: right;
    position: relative;
    top: -10px;
    right: 15px;
    opacity: 50%;
}

.post .post-image {
    margin-top: 5px;
    width: 100%;
}

.post button img{
    width: 30px;
    height: 30px;
}

.post button:hover{
    background-color:rgb(255, 236, 65);
    cursor: pointer;
}

.post .text::first-letter{
    color: black;
    border-radius: 5px;
    font-weight: 600;
}

.post .text{
    font-weight: 500;
    padding-top: 10px;
    padding-left: 5px;
}

.post img + p{
    font-weight: 500;
    padding-top: 10px;
    padding-left: 5px;;
}

p ~ button{
    background-color: rgb(51, 128, 216);
    border-radius: 4px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}