body{
    background-color: rgb(51, 128, 216);
    margin:0;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

p{
    font-family: 'Montserrat', sans-serif;
}

.flex-container{
    flex-direction: column;
    justify-content: center;
    text-align: center;

    background-color: white;
    min-width: 445px;
    width: 25%;
    height: 500px;

    position: relative;
    margin:auto;
    margin-top: 13%;
    margin-bottom: 13%;

    -webkit-box-shadow: 0px 2px 17px -2px rgb(90, 90, 90);
    -moz-box-shadow: 0px 2px 17px -2px  rgba(90, 90, 90,1);
    box-shadow: 0px 2px 17px -2px rgb(90, 90, 90);
}
.login-form{
    padding-top: 70px;
}
.login-form > a{
    color:rgb(80, 176, 255);
    font-size: 16px;
    font-weight: 600;

    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.login-form form input[type=text]{
    color:rgba(0, 0, 0, 0.493);
    font-family: 'Montserrat', sans-serif;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;

    margin-top: 10px;
}
.login-form form input[type=password]{
    color:rgba(0, 0, 0, 0.493);
    font-family: 'Montserrat', sans-serif;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;

    margin-top: 10px;
}

.login-form form input[type=submit]{
    width: 70px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    color:white;
    background-color: rgb(26, 103, 190);
    cursor: pointer;
    border-radius: 4px;
    border-style: none;
    margin-bottom: 10px;

    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.login-form form input[type=submit]:hover{
    color: rgb(26, 103, 190);
    background-color:rgb(255, 236, 65);
}

.login-form a:hover{
    color: rgb(255, 236, 65);
}
#logo{
    position: absolute;
    width: 100px;
    padding:5px;
    left:0;
}